.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.movie-grid{
    display: flex;
    justify-content: center;
    align-self: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
